

#page{background:#fdfdfd; margin:0px auto; /*width:980px;height:2000px;*/
width:77.7%;-webkit-box-shadow:rgba(0,0,0,0.5) 0px 3px 8px;
}
.col1{background:#9CC; /*width:100px; height:2000px;*/ width:10.2040816326531%;/*100px/980px*/ height:10%; margin:1.02040816326531% 1.02040816326531% 0 0;/*10px/980px*/float:left;}
.col2{width:21.4285714285714%;/*210px/980px*/ background:#CFF;margin:1.02040816326531% 1.02040816326531% 0 0;/*10px/980px*/float:left; }
.col6{width:66.3265306122449%;/*650px/980px*/ margin:1.02040816326531% 1.02040816326531% 0 0;/*10px/980px*/float:left; overflow:auto;}
.last{clear:right;margin-right:0; background:#999900;}
img, embed, object, video {max-width:100%;} /* rend les images, les video etc... responsive */

/* Dégradés */
.green {
  background: #779513;
  background-image: -webkit-linear-gradient(bottom, #779513 7%, #97bf0d 100%);
  background-image: -moz-linear-gradient(bottom, #779513 7%, #97bf0d 100%);
  background-image: -o-linear-gradient(bottom, #779513 7%, #97bf0d 100%);
  background-image: linear-gradient(bottom, #779513 7%, #97bf0d 100%);
}
.orange {
  background: #f79c67;
  background: -webkit-linear-gradient(bottom, #f37124 7%, #f79c67 100%);
  background: -moz-linear-gradient(bottom, #f37124 7%, #f79c67 100%);
  background: -o-linear-gradient(bottom, #f37124 7%, #f79c67 100%);
  background: linear-gradient(bottom, #f37124 7%, #f79c67 100%);
}
.brown {
  background: #9a7c6b;
  background: -webkit-linear-gradient(bottom, #755e51 7%, #9a7c6b 100%);
  background: -moz-linear-gradient(bottom, #f37124 7%, #f79c67 100%);
  background: -o-linear-gradient(bottom, #f37124 7%, #f79c67 100%);
  background: linear-gradient(bottom, #f37124 7%, #f79c67 100%);
}
.blue {
  background: #3a558a;
  background: -webkit-linear-gradient(bottom, #4e6ba3 7%, #3a558a 100%);
  background: -moz-linear-gradient(bottom, #4e6ba3 7%, #3a558a 100%);
  background: -o-linear-gradient(bottom, #4e6ba3 7%, #3a558a 100%);
  background: linear-gradient(bottom, #4e6ba3 7%, #3a558a 100%);
}


header {  width:100%;height:127px;
background: rgb(125,170,251); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYWFmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmNlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGFhZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(125,170,251,1) 0%, rgba(255,252,229,1) 50%, rgba(125,170,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(125,170,251,1)), color-stop(50%,rgba(255,252,229,1)), color-stop(100%,rgba(125,170,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(125,170,251,1) 0%,rgba(255,252,229,1) 50%,rgba(125,170,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(125,170,251,1) 0%,rgba(255,252,229,1) 50%,rgba(125,170,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(125,170,251,1) 0%,rgba(255,252,229,1) 50%,rgba(125,170,251,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(125,170,251,1) 0%,rgba(255,252,229,1) 50%,rgba(125,170,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7daafb', endColorstr='#7daafb',GradientType=1 ); /* IE6-8 */}



#logo{ background:url(../img/general/logo.png) center 45px no-repeat, url(../img/general/epi.png) no-repeat; height:100%; width:100%; margin:0px auto; text-indent:-20000px; padding:87px 0 0 0;}



@media screen and (max-width:768px){
	#page{width:100%;}
	.col2{display:none;}
	.col6{width:90%; padding: 5%; overflow: auto;}
	h1{font-size: 1.6em; margin-bottom: 0.3em;}
	h2{font-size: 1.2em;}
	p{font-size: 1em;}
	.encadre ul {width:100%;}
}






/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
h1{font-size: 2.7em; margin-bottom: 0.3em;}
.encadre ul {width:50%;}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
